---
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name }}-secret
  namespace: {{ app_namespace | default('default') }}
  labels:
    app: {{ app_name }}
type: Opaque
data:
  SERVICE_NAME: "{{ app_name | b64encode }}"
  DEPLOYMENT_MODE: "{{ 'service-specific' | b64encode }}"
{% if service_configs[app_name] is defined and service_configs[app_name].secret is defined %}
{% for key, value in service_configs[app_name].secret.items() %}
  {{ key }}: "{{ value | b64encode }}"
{% endfor %}
{% endif %} 