---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ app_namespace | default('default') }}
  labels:
    app: {{ app_name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ app_service_port | default(80) }}
      targetPort: {{ app_container_port | default(80) }}
      protocol: TCP
      name: http
  selector:
    app: {{ app_name }} 