---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ app_name }}-deployment"
  namespace: "{{ app_namespace | default('default') }}"
  labels:
    app: "{{ app_name }}"
spec:
  replicas: {{ app_replicas | default(1) }}
  selector:
    matchLabels:
      app: "{{ app_name }}"
  template:
    metadata:
      labels:
        app: "{{ app_name }}"
    spec:
      {% if app_image_pull_secrets is defined and app_image_pull_secrets %}
      imagePullSecrets:
      {% for secret in app_image_pull_secrets %}
        - name: {{ secret.name }}
      {% endfor %}
      {% endif %}
      containers:
        - name: "{{ app_name }}"
          image: "{{ app_image }}"
          imagePullPolicy: Always
          ports:
            - containerPort: {{ app_container_port }}

          resources:
            requests:
              cpu: "{{ app_resources.requests.cpu | default('100m') }}"
              memory: "{{ app_resources.requests.memory | default('128Mi') }}"
            limits:
              cpu: "{{ app_resources.limits.cpu | default('500m') }}"
              memory: "{{ app_resources.limits.memory | default('512Mi') }}"

          envFrom:
            - configMapRef:
                name: "{{ app_name }}-config"
            - secretRef:
                name: "{{ app_name }}-secret"

          {% if app.env is defined and app.env %}
          env:
          {% for var in app.env %}
            - name: "{{ var.name }}"
              value: "{{ var.value }}"
          {% endfor %}
          {% endif %}

          {% if app_health_check_type | default('httpGet') == 'tcpSocket' %}
          livenessProbe:
            tcpSocket:
              port: {{ app_container_port }}
            initialDelaySeconds: 180
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: {{ app_container_port }}
            initialDelaySeconds: 20
            periodSeconds: 10
          {% else %}
          livenessProbe:
            httpGet:
              path: "{{ app_health_check_path | default('/') }}"
              port: {{ app_container_port }}
            initialDelaySeconds: 180
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: "{{ app_health_check_path | default('/') }}"
              port: {{ app_container_port }}
            initialDelaySeconds: 20
            periodSeconds: 10
          {% endif %}
