---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: "{{ app.name }}-hpa"
  namespace: "{{ app.namespace | default('default') }}"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: "{{ app.name }}-deployment"
  minReplicas: "{{ (app.hpa.min_replicas | default(default_hpa.min_replicas)) }}"
  maxReplicas: "{{ (app.hpa.max_replicas | default(default_hpa.max_replicas)) }}"
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ (app.hpa.cpu_utilization | default(default_hpa.cpu_utilization)) }}
