---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ app.name }}-ingress"
  namespace: "{{ app.namespace | default('default') }}"
  annotations:
    # Add any default annotations here
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: "{{ app.ingress_hostname }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "{{ app.name }}-service"
            port:
              number: 80
  # Add TLS settings if needed
  # tls:
  # - hosts:
  #   - "{{ app.ingress_hostname }}"
  #   secretName: "{{ app.name }}-tls-secret"
