---
{% if app.ingress is defined %}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ app.name }}-ingress"
  namespace: "{{ app.namespace | default('default') }}"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  {% for rule in app.ingress %}
  - {% if rule.host is defined %}host: "{{ rule.host }}"{% endif %}
    http:
      paths:
      - path: "{{ rule.path }}"
        pathType: "{{ rule.pathType }}"
        backend:
          service:
            name: "{{ app.name }}-service"
            port:
              number: {{ rule.port }}
  {% endfor %}
  {% if app.tls is defined %}
  tls:
  - hosts:
    {% for host in app.tls.hosts %}
    - "{{ host }}"
    {% endfor %}
    secretName: "{{ app.tls.secretName }}"
  {% endif %}
{% endif %}
