---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ app_name }}-secret"
  namespace: "{{ app_namespace | default('default') }}"
  labels:
    app: "{{ app_name }}"
type: Opaque
data:
  SERVICE_NAME: "{{ app_name | b64encode }}"
  DEPLOYMENT_MODE: "{{ 'refactored' | b64encode }}" 