---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ app_name }}-secret"
  namespace: "{{ app_namespace | default('default') }}"
  labels:
    app: "{{ app_name }}"
type: Opaque
data:
  # Environment-specific variables from vault
  DB_PASS: "{{ db_pass | default('') | b64encode }}"
  AWS_ACCESS_KEY: "{{ aws_access_key_alt | default('') | b64encode }}"
  AWS_SECRET_KEY: "{{ aws_secret_key_alt | default('') | b64encode }}"
  CONFIG_USER: "{{ config_user | default('') | b64encode }}"
  CONFIG_PASS: "{{ config_pass | default('') | b64encode }}"
  encryption.secret.key: "{{ encryption_secret_key | default('') | b64encode }}"
  spring.mail.userName: "{{ mail_username | default('') | b64encode }}"
  spring.mail.password: "{{ mail_password | default('') | b64encode }}"
  spring.mail.from: "{{ mail_from | default('') | b64encode }}"
  STG_DB_PASSWORD: "{{ stg_db_password | default('') | b64encode }}"
  DB_PASSWORD: "{{ db_password | default('') | b64encode }}" 