---
apiVersion: v1
kind: Service
metadata:
  name: "{{ app_name }}-service"
  namespace: "{{ app_namespace | default('default') }}"
  labels:
    app: "{{ app_name }}"
spec:
  type: ClusterIP
  selector:
    app: "{{ app_name }}"
  ports:
    - protocol: TCP
      port: {{ app_container_port }}
      targetPort: {{ app_container_port }}
