---
apiVersion: v1
kind: Service
metadata:
  name: "{{ app.name }}-service"
  namespace: "{{ app.namespace | default('default') }}"
spec:
  selector:
    app: "{{ app.name }}"
  ports:
  - protocol: TCP
    port: 80
    targetPort: "{{ app.container_port | default(80) }}"
  type: ClusterIP
